	.registration {
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: calc(80px + 20 * (100vw - 768px) / 672);
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration {
		margin-top: calc(15px + 65 * (100vw - 320px) / 448);
	}
	}
	.registration__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
	padding: 25px 45px 37px 45px;
	max-width: 600px;
	width: 100%;
	margin: 0 20px;
	}


	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__wrapper {
		padding: calc(15px + 10 * (100vw - 320px) / 448) calc(10px + 35 * (100vw - 320px) / 448) calc(20px + 17 * (100vw - 320px) / 448) calc(15px + 30 * (100vw - 320px) / 448);
	}
	}
	.registration__title {
	font-weight: 700;
	font-size: 50px;
	text-align: center;
	color: #787878;
	margin-bottom: 35px;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__title {
		font-size: calc(25px + 25 * (100vw - 320px) / 448);
		margin-bottom: calc(18px + 17 * (100vw - 320px) / 448);
	}
	}
	.registration__form {
	display: flex;
	flex-direction: column;
	width: 100%;
	}
	.registration__form-input-wrapper {
	position: relative;
	margin-bottom: 32px;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-input-wrapper {
		margin-bottom: calc(22px + 10 * (100vw - 320px) / 448);
	}
	}

	.registration__form-span{
		position: absolute;
		right: 0;
		bottom: 56px;
		font-size: 16px;
		font-weight: 700;
		color: #EE2424;
		visibility: hidden;
	}
	.error {
		visibility: visible;
	}

	.email__wrapper-empty::before{
		content: 'Поле обязательно для заполнения';
		color: red;
		font-size: 16px;
		font-weight: bold;
		position: absolute;
		bottom: 51px;
		right: 0;
	}
	.email__wrapper-error::before{
		content: 'Email введён некорректно';
		color: red;
		font-size: 16px;
		font-weight: bold;
		position: absolute;
		bottom: 51px;
		right: 0;
	}

	.registration__form-label {
	position: absolute;
	bottom: 56px;
	left: -11px;
	font-size: 16px;
	font-weight: 700;
	color: #787878;
	}

	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-label {
		left: calc(-7px + -4 * (100vw - 320px) / 448);
		font-size: calc(10px + 6 * (100vw - 320px) / 448);
		bottom: calc(38px + 16 * (100vw - 320px) / 448);
	}
	.registration__form-span{
		font-size: calc(9px + 7 * (100vw - 320px) / 448);
		bottom: calc(39px + 15 * (100vw - 320px) / 448);
	}
	}
	.registration__form-input {
	width: 100%;
	color: #787878;
	font-size: 28px;
	font-weight: 700;
	border: 2px solid #787878;
	padding: 6px 15px;
	}

	.input-error{
		border: 2px solid #EE2424;
	}

	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-input {
		font-size: calc(16px + 12 * (100vw - 320px) / 448);
		padding: 6px calc(5px + 10 * (100vw - 320px) / 448);
	}
	}
	.registration__form-input::-moz-placeholder {
	color: #CCCCCC;
	}
	.registration__form-input:-ms-input-placeholder {
	color: #CCCCCC;
	}
	.registration__form-input::placeholder {
	color: #CCCCCC;
	}
	.registration__form-input:focus::-moz-placeholder {
	opacity: 0;
	-moz-transition: 0.3s;
	transition: 0.3s;
	}
	.registration__form-input:focus:-ms-input-placeholder {
	opacity: 0;
	-ms-transition: 0.3s;
	transition: 0.3s;
	}
	.registration__form-input:focus::placeholder {
	opacity: 0;
	transition: 0.3s;
	}
	.registration__form-radio-wrapper {
	position: relative;
	margin-bottom: 11px;
	}
	.registration__form-gender-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	}
	.registration__form-gender-wrapper > .registration__form-radio {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	}
	.registration__form-gender-wrapper > .registration__form-radio-element {
	width: 20px;
	height: 20px;
	border: 2px solid #787878;
	border-radius: 50%;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-gender-wrapper > .registration__form-radio-element {
		width: 16px;
		height: 16px;
	}
	}
	.registration__form-gender-wrapper > .registration__form-radio:checked + .registration__form-radio-element {
	background-color: #787878;
	transition: 0.5s;
	}
	.registration__form-gender-wrapper > .registration__form-radio:checked + .registration__form-radio-element::after {
	content: "";
	position: absolute;
	border-radius: 50%;
	top: 1px;
	left: 1px;
	width: 14px;
	height: 14px;
	border: 2px solid #fff;
	transition: 0.5s;
	}
	@media screen and (max-width: 767px) and (min-width: 375px) {
	.registration__form-gender-wrapper > .registration__form-radio:checked + .registration__form-radio-element::after {
		top: 1px;
		width: 10px;
		height: 10px;
	}
	}
	@media screen and (max-width: 374px) and (min-width: 320px) {
		.registration__form-gender-wrapper > .registration__form-radio:checked + .registration__form-radio-element::after {
			top: 2px;
			width: 10px;
			height: 10px;
		}
	}
	.registration__form-radio-span {
	position: absolute;
	bottom: 56px;
	left: 0;
	font-size: 16px;
	font-weight: 700;
	color: #787878;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-radio-span {
		font-size: calc(12px + 4 * (100vw - 320px) / 448);
		bottom: calc(46px + 8 * (100vw - 320px) / 448);
	}
	}
	.registration__form-radio-label {
	position: relative;
	top: 1px;
	color: #787878;
	font-weight: 400;
	font-size: 14px;
	margin-left: 9px;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-radio-label {
		margin-left: calc(6px + 3 * (100vw - 320px) / 448);
	}
	}
	.registration__form-textarea-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	}
	.registration__form-textarea-label {
	color: #787878;
	font-weight: 700;
	font-size: 16px;
	position: relative;
	bottom: 4px;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-textarea-label {
		font-size: calc(12px + 4 * (100vw - 320px) / 448);
	}
	}
	.registration__form-textarea {
	resize: none;
	width: 100%;
	border: 2px solid #787878;
	height: 246px;
	overflow-y: auto;
	padding: 7px 15px;
	color: #787878;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 24px;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-textarea {
		font-size: calc(16px + 12 * (100vw - 320px) / 448);
		padding: 7px calc(8px + 7 * (100vw - 320px) / 448);
		height: calc(146px + 100 * (100vw - 320px) / 448);
		margin-bottom: calc(8px + 16 * (100vw - 320px) / 448);
	}
	}
	.registration__form-textarea::-moz-placeholder {
	color: #CCCCCC;
	font-size: 28px;
	font-weight: 700;
	}
	.registration__form-textarea:-ms-input-placeholder {
	color: #CCCCCC;
	font-size: 28px;
	font-weight: 700;
	}
	.registration__form-textarea::placeholder {
	color: #CCCCCC;
	font-size: 28px;
	font-weight: 700;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-textarea::-moz-placeholder {
		font-size: calc(16px + 12 * (100vw - 320px) / 448);
	}
	.registration__form-textarea:-ms-input-placeholder {
		font-size: calc(16px + 12 * (100vw - 320px) / 448);
	}
	.registration__form-textarea::placeholder {
		font-size: calc(16px + 12 * (100vw - 320px) / 448);
	}
	}
	.registration__form-textarea:focus::-moz-placeholder {
	opacity: 0;
	-moz-transition: 0.3s;
	transition: 0.3s;
	}
	.registration__form-textarea:focus:-ms-input-placeholder {
	opacity: 0;
	-ms-transition: 0.3s;
	transition: 0.3s;
	}
	.registration__form-textarea:focus::placeholder {
	opacity: 0;
	transition: 0.3s;
	}
	.registration__form-checkbox-wrapper {
	position: relative;
	margin-top: 2px;
	display: flex;
	align-items: center;
	}
	.registration__form-checkbox-wrapper > .registration__form-checkbox {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	}
	.registration__form-checkbox-wrapper > .registration__form-checkbox-element {
	margin-right: 8px;
	width: 24px;
	height: 24px;
	border: 2px solid #787878;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-checkbox-wrapper > .registration__form-checkbox-element {
		width: 18px;
		height: 18px;
		margin-right: 5px;
	}
	}
	.registration__form-checkbox-wrapper > .registration__form-checkbox:checked + .registration__form-checkbox-element {
	background: #787878;
	transition: 0.5s;
	}
	.registration__form-checkbox-wrapper > .registration__form-checkbox:checked + .registration__form-checkbox-element::after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	top: 0;
	left: 0;
	border: 4px solid #fff;
	transition: 0.5s;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-checkbox-wrapper > .registration__form-checkbox:checked + .registration__form-checkbox-element::after {
		width: 8px;
		height: 8px;
		border: 3px solid #fff;
	}
	}
	.registration__form-checkbox-label {
	color: #787878;
	font-weight: 400;
	font-size: 14px;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-checkbox-label {
		font-size: calc(11px + 3 * (100vw - 320px) / 448);
	}
	}
	.registration__form-btn {
	align-self: center;
	background-color: #ca5252;
	max-width: 2000px;
	line-height: 14px;
	font-size: 24px;
	font-weight: 700;
	padding: 14px 20px;
	color: #FFFFFF;
	margin-top: 55px;
	border: 2px solid transparent;
	border-radius: 5px;
	transition: 200ms ease;
	}
	.registration__form-btn:hover {
		cursor: pointer;
		background-color: #e75e5e;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
	.registration__form-btn {
		margin-top: calc(35px + 40 * (100vw - 320px) / 448);
		font-size: calc(20px + 4 * (100vw - 320px) / 448);
		padding: calc(12px + 6 * (100vw - 320px) / 448) calc(14px + 6 * (100vw - 320px) / 448);
	}
	}
	.registration__form-btn:hover {
	cursor: pointer;
	}
	.registration__form-input_error{
		position: absolute;
		right: 0;
		bottom: 56px;
		font-size: 16px;
		font-weight: 700;
		color: #EE2424;
	}
	@media screen and (max-width: 767px) and (min-width: 320px) {
		.registration__form-input_error {
			right: calc(0px + 3 * (100vw - 320px) / 448);
			font-size: calc(10px + 6 * (100vw - 320px) / 448);
			bottom: calc(38px + 16 * (100vw - 320px) / 448);
		}
		.registration__form-input_error{
			font-size: calc(9px + 7 * (100vw - 320px) / 448);
			bottom: calc(39px + 15 * (100vw - 320px) / 448);
		}
		}
		.registration__form-input_error.checkbox{
			position: absolute;
			top: 25px;
			left: 0;
			font-size: 14px;
			
		}
		@media screen and (max-width: 767px) and (min-width: 320px) {
			.registration__form-input_error.checkbox {
				top: 30px;
				font-size: calc(11px + 3 * (100vw - 320px) / 448);
			}
			}