@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	color: #222;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.wrapper{
	max-width: 1280px;
	margin: 50px auto;
	position: relative;
}
@media screen and (max-width: 420px) and (min-width: 320px) {
	.wrapper{
		margin: 25px auto;
	}
}
.search__wrapper{
padding: 10px;
margin-bottom: 20px;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.search__select{
	width: 200px;
	height: 30px;
	margin-right: 30px;
	margin-bottom: 15px;
	order: 1;
	outline: none;
	padding-left: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid silver;
}
.search__select-item{

}
.search__input{
	width: 400px;
	height: 30px;
	order: 2;
	outline: none;
	padding-left: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid silver;
}

.search__input::placeholder{
	color: #ccc;
	transition: opacity 300ms ease;
}
.search__input:focus::placeholder{
	color: rgb(236, 235, 235);
	opacity: 0;
	transition: opacity 300ms ease;
}
@media (max-width: 649px) {
	.search__wrapper{
		flex-direction: column;
		align-items: center;
	}
	.search__select{
		width: 200px;
		margin-right: 0;
		margin-bottom: 0;
		order: 2;
	}
	.search__input{
		width: 68%;
		order: 1;
		margin-bottom: 15px;
	}
}