* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }
 
 body {
	padding: 8px;
	background: #abadb0;
 }
 
 .address-book {
	position: relative;
	background-image: linear-gradient(to bottom, blue 47px,  white 47px);
	border-color: #5b5bc4;
	width: 100vw;
	height: 630px;
 }
 .address-book-header {
	font-family: Arial;
	text-align: left;
	font-size: 30px;
	color: white;
	padding-left: 10px;
	padding-top: 5px;
 }
 .address-book-link {
	position: absolute;
	background: #b5b5ee;
	text-align: center;
	width: 25vw;
	height: 500px;
	left: 10px;
	top: 52px;
 }
 
 .address-book-link__link {
	font-size: 30px;
	color: greenyellow;
	padding: 5px;
 }
 
 .address-book-link__link:hover {
	color: blue;
 }
 
 .address-book-link__link:active {
	color: orange;
 }
 
 .address-book-link__link:visited {
	color: red;
 }
 
 .address-book-adress {
	position: absolute;
	background: #f1efef;
	border: 2px solid aqua;
	text-align: left;
	width: 70vw;
	height: 500px;
	top: 52px;
	left: 27vw;
	overflow-y: auto;
 }
 
 ul {
	list-style-type: none;
	padding-left: 5px;
 }
 
 .address-book-adress__name {
	position: sticky;
	top: 0;
	left: 0;
	background: #0000ff;
	color: white;
	padding-left: 11px;
 }
 
 .droplnk {
	color: #090404;
	font-size: 15px;
	border: none;
 }
 
 .dropdown {
	position: relative;
	display: inline-block;
 }
 
 .dropdown-content {
	display: none;
	position: absolute;
	left: 35px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	min-width: 200px;
	box-shadow: 0px 0px 20px 0px #949393;
	z-index: 1;
 }
 
 .dropdown-content a:hover {
	background-color: #0000ff;
 }
 
 .dropdown:hover .dropdown-content {
	display: block;
 }
 